:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFF;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    letter-spacing: 0px;
    font-size: 16px;
}

/* Reset margins and paddings on both html and body */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-preset-1, .text-preset-2, .text-preset-3 {
    line-height: 100%;
}

.text-preset-1 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Young Serif", serif;
}

.text-preset-2 {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: "Young Serif", serif;
}

.text-preset-3 {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Outfit", serif;
}

.text-preset-4 {
    font-size: 1rem;
    line-height: 150%;
    font-family: "Outfit", serif;
}

.text-preset-4-bold {
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
}

img {
    width: 100%;
}